<component name="libraryTable">
  <library name="spring">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/libs/c3p0-0.9.1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/commons-logging-1.1.1.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/mysql-connector-java-5.1.7-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-aop-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-beans-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-context-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-core-4.0.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/libs/spring-expression-4.0.0.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>